* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(57, 133, 255);
  box-shadow: rgba(0, 0, 0, 0.383) 0px 3px 12px;
}

h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}

.btn-header {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 15px;
}
.btn-header #buscador {
  border-radius: 10px;
  background-color: rgba(99, 193, 255, 0.548);
  padding: 0 5px;
  width: 200px;
}
.btn-header #login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 10px;
}
.btn-header #login i {
  font-size: 25px;
  color: white;
}
.btn-header #login:hover {
  background-color: rgb(99, 193, 255);
}
.btn-header #cesta-carrito {
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
}
.btn-header #cesta-carrito i {
  color: #ffffff;
  font-size: 20px;
}
.btn-header #cesta-carrito span {
  color: #ffffff;
  font-size: 20px;
}
.btn-header #cesta-carrito:hover {
  background-color: rgb(99, 193, 255);
}

#header-checkout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(57, 133, 255);
  box-shadow: rgba(0, 0, 0, 0.383) 0px 3px 12px;
}
#header-checkout h1 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
#header-checkout .btn-header-back {
  display: flex;
  justify-content: space-between;
}
#header-checkout .btn-header-back a {
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  padding: 2px 3px 2px 3px;
}
#header-checkout .btn-header-back a:hover {
  background-color: rgba(255, 255, 255, 0.452);
  border-radius: 10px;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 20px;
  padding-top: 110px;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.151);
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.modal-carrito h3 {
  color: rgb(14, 88, 226);
  padding-bottom: 5px;
}
.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(58, 98, 231) !important;
  border: none;
  background-color: white;
}
.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}
.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}
.modal-carrito #carrito-contenedor {
  max-height: 300px;
  overflow-y: scroll;
}
.modal-carrito .total-pagar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.modal-carrito .total-pagar .precioProducto {
  color: rgb(14, 88, 226);
  font-weight: 600;
}
.modal-carrito .total-pagar .btn-pagar {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}
.modal-carrito .total-pagar .btn-pagar:hover {
  background-color: rgba(0, 0, 0, 0.6039215686);
  transition: all 0.1s;
}
.modal-carrito .total-pagar .btn-pagar a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.modal-active .modal-carrito {
  margin-top: 0;
}

.productoEnCarrito {
  border-left: 5px solid rgb(34, 86, 255);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productoEnCarrito:hover {
  border-left: 5px solid rgb(65, 148, 225);
}
.productoEnCarrito img {
  width: 70px;
}
.productoEnCarrito .info-producto-carrito {
  font-size: 15px;
}
.productoEnCarrito span {
  text-align: right;
}

.boton-eliminar {
  background-color: white;
  color: #ff6961;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px -1px;
}
.boton-eliminar:hover {
  cursor: pointer;
  background-color: #ff6961;
  color: white;
}
.boton-eliminar:focus {
  outline: none;
}

.datos-cliente {
  display: flex;
  justify-content: center;
  height: 100%;
}
.datos-cliente .needs-validation {
  margin-top: 30px;
  width: 710px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
}
.datos-cliente .needs-validation .datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 20px 0;
  border-bottom: 1px solid black;
  gap: 10px;
}
.datos-cliente .needs-validation .datos .data-fnm {
  display: flex;
  flex-direction: column;
  width: 330px;
  flex-wrap: wrap;
}
.datos-cliente .needs-validation .datos .data-fnm input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos .data-lnm {
  display: flex;
  flex-direction: column;
  width: 330px;
  flex-wrap: wrap;
}
.datos-cliente .needs-validation .datos .data-lnm input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos .data-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.datos-cliente .needs-validation .datos .data-col input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos .data-country {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.datos-cliente .needs-validation .datos .data-country select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos .data-state {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.datos-cliente .needs-validation .datos .data-state select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos .data-zip {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.datos-cliente .needs-validation .datos .data-zip input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .form-checks {
  padding: 10px 0 10px 0;
}
.datos-cliente .needs-validation .datos-pago {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0 20px 0;
}
.datos-cliente .needs-validation .datos-pago h4 {
  margin: 0;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info {
  display: flex;
  flex-direction: column;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info .card-data {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info #name-card {
  width: 300px;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info #number-card {
  width: 300px;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info #date-exp-card {
  width: 80px;
}
.datos-cliente .needs-validation .datos-pago .datos-tarjeta .cc-info #cvv-card {
  width: 80px;
}
.datos-cliente .needs-validation .boton-checkout {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.datos-cliente .needs-validation .boton-checkout #checkout-btn {
  width: 250px;
  padding: 15px;
  font-size: 17px;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.datos-cliente .needs-validation .boton-checkout #checkout-btn:hover {
  background-color: rgba(0, 0, 0, 0.685);
}
.datos-cliente .needs-validation .invalid-feedback {
  opacity: 0;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 15px;
}
.checkout-container h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  color: #000;
  position: static;
}
.checkout-container .carrito-checkout {
  overflow-y: scroll;
}
.checkout-container .carrito-checkout #cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  gap: 10px;
  padding: 5px;
}
.checkout-container .carrito-checkout #cart .carritoCheckout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkout-container .carrito-checkout #cart .carritoCheckout img {
  width: 100px;
}
.checkout-container .carrito-checkout #cart .carritoCheckout h6 {
  font-size: 15px;
  margin: 0;
}
.checkout-container .carrito-checkout #cart .carritoCheckout span {
  font-size: 20px;
}

/*






*/
#producto-contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.card .card-image {
  padding: 30px 30px 0 30px;
}
.card .card-image .card-title {
  display: inline-block;
  color: rgb(51, 116, 246);
  position: unset;
  font-size: 26px;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.card .card-content {
  display: flex;
  padding: 0 24px 24px 24px;
  justify-content: space-around;
  align-items: center;
}
.card .card-content p {
  font-size: 20px;
  font-weight: 600;
}
.card .card-content a {
  bottom: 24px;
  right: 24px;
}
.card .card-content a .fa-cart-plus {
  font-size: 20px;
}

p {
  line-height: 1.8;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

#alerta-nada {
  display: none;
  color: red;
  text-align: center;
  font-size: 20px;
}

.signupForm {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.151);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
}
.form label {
  position: relative;
}
.form label .input {
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}
.form label .input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

#btn-cerrar-form {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(58, 98, 231) !important;
  border: none;
  background-color: white;
}
#btn-cerrar-form:hover {
  cursor: pointer;
}
#btn-cerrar-form:focus {
  outline: none;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.title::before, .title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}
.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}
.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}
.signin a {
  color: royalblue;
}
.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 12px;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 10px;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}
.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.form-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.form-active .form {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
