#header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(57, 133, 255);
    box-shadow: rgba(0, 0, 0, 0.383) 0px 3px 12px;
  }

h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}


.btn-header {
  display: flex;
  justify-content: space-between;
  width: auto;
  gap: 15px;
  
  #buscador {
    border-radius: 10px;
    background-color: rgba(99, 193, 255, 0.548) ;
    padding: 0 5px;
    width: 200px;
  }

  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
  
    i {
      font-size: 25px;
      color: white;
    }

    &:hover {
      background-color: rgb(99, 193, 255);
    }
  }
  
  #cesta-carrito {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
  
    i {
      color: #ffffff;
      font-size: 20px;
    }
  
    span {
      color: #ffffff;
      font-size: 20px;
    }
  
    &:hover {
      background-color: rgb(99, 193, 255);
    }
  }
}


#header-checkout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(57, 133, 255);
  box-shadow: rgba(0, 0, 0, 0.383) 0px 3px 12px;

  h1 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
  }

  .btn-header-back {
    display: flex;
    justify-content: space-between;
    
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 30px;
      padding: 2px 3px 2px 3px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
      }
    }
  }
}