#producto-contenedor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    .card-image {
      padding: 30px 30px 0 30px;

      .card-title {
        display: inline-block;
        color: rgb(51, 116, 246);
        position: unset;
        font-size: 26px;
        text-align: center;
        width: 100%;
        padding: 10px;
      }
    }

    .card-content {
        display: flex;
        padding: 0 24px 24px 24px;
        justify-content: space-around;
        align-items: center;

        p {
            font-size: 20px;
            font-weight: 600;
        }

        a {
            bottom: 24px;
            right: 24px;
          
          .fa-cart-plus {
            font-size: 20px;
          }
        }
    }
}

p {
  line-height: 1.8;
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

#alerta-nada {
  display: none;
  color: red;
  text-align: center;
  font-size: 20px;
}

