.signupForm {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.151);
  }

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
  
    label {
      position: relative;
  
      .input {
          border: none;
          outline: none;
          border-radius: 15px;
          background-color: #ffffff;
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
          transition: 300ms ease-in-out;

          &:focus {
            background-color: white;
            transform: scale(1.05);
            box-shadow: 13px 13px 100px #969696,
                     -13px -13px 100px #ffffff;
        }

        + span {
          position: absolute;
          left: 10px;
          top: 15px;
          color: grey;
          font-size: 0.9em;
          cursor: text;
          transition: 0.3s ease;
        }
      }
    }
  }

  #btn-cerrar-form {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(58, 98, 231) !important;
    border: none;
    background-color: white;
      
    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: royalblue;
    }
  
    &::before {
      width: 18px;
      height: 18px;
      background-color: royalblue;
    }
    
    &::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }
  }
  
  
  .message, 
  .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  
    a {
      color: royalblue;
  
      &:hover {
        text-decoration: underline royalblue;
      }
    }
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 12px;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    top: 30px;
    font-size: 10px;
    font-weight: 600;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  
    &:hover {
      background-color: rgb(56, 90, 194);
    }
  }
  
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

.form-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  
    .form {
      margin-top: 0;
    }
  }